body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bgParallax {
    /* The image used */
    /* Set a specific height */
    height:1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cycle {
    background-image: url("dsc_0028.jpg");
}
